@use'./reset';

.color-orange{
  color: rgb(255,125,0);
}

.hero-shadow{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, .65);
  z-index: -1;
}

.navbar-brand{
  font-size: 2.2rem;
  font-weight: bold;

  i{
    padding: 0 8px;
    font-size: 2.2rem;
  }
}

.nav-link{
  text-transform: uppercase;
}

.nav-link,
.navbar-toggler{
  font-size: 1.8rem;
}

.home{
  position: relative;
  height: 65rem;
  z-index: 0;

  .welcome-text{
    font-size: 2.2rem;
  
  }

  a{
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 2rem;
  }
}

.section-title{
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

.underline{
  height: 3px;
  width: 100%;
  margin: 0 auto 30px;
  background-color: white;
}

.aboutus-box{

  .aboutus-box-title{
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  i{
    font-size: 3rem;
  }

  p{
    margin-top: 10px;
  }
}



